/*                    KEY POSITIONS

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────╮ 36  37  38  39 │ │ 40  41  42  43 ╭───────╯
          ╰────────────────╯ ╰────────────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, TIMEOUT, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <TIMEOUT>; \
    layers = <LAYERS>; \
  };

/* Brackets */
// COMBO(lbrk, &kp LBKT, 2 3, 30, BASE NUMB)
// COMBO(rbrk, &kp RBKT, 8 9, 30, BASE NUMB)
COMBO(lpar, &l_parang, 14 15, 30, BASE NUMB)
COMBO(rpar, &r_parang, 20 21, 30, BASE NUMB)
COMBO(lang, &kp LT, 26 27, 30, BASE NUMB)
COMBO(rang, &kp GT, 32 33, 30, BASE NUMB)

/* System */
COMBO(caps, &kp CAPS, 17 18, 50, BASE)
COMBO(login, &kp LC(LA(DEL)), 1 2 9 10, 50, BASE)

/* Mouse */
COMBO(mouse1, &mkp MB1, 14 16, 30, BASE)
COMBO(mouse2, &mkp MB2, 2 4, 30, BASE)
COMBO(mouse3, &mkp MB3, 26 28, 30, BASE)

/* Common Symbols */
COMBO(dash, &kp MINUS, 4 16, 40, BASE)
COMBO(undr, &kp UNDERSCORE, 7 19, 40, BASE)
